@{
    ViewData["Title"] = "Om sidan";
}

<h1>Om denna sida</h1> 

<article>
    Denna sida är skapad med ASP.NET CORE MVC. Här kan du läsa mer Om fikabröden som reviewas på startsidan. 
</article>
<br>
<h2>Fika</h2>
<!-- Meddelande från viewbag i kontrollern!-->
<article>@ViewBag.Vacuum</article>
<br>
<article>@ViewBag.Pearl</article>
<br>
<article>@ViewBag.Coco</article>
<br>
<article>@ViewBag.Mazarin</article>
<br>
<article>@ViewBag.Rasberry</article>