@{
    ViewData["Title"] = "Om sidan";
}

<h1>Om fika</h1> 

<article>
    Här kan du läsa mer om fikabröden som bedöms på startsidan. 
</article>
<br>
<h2>Fika</h2>
<!-- Meddelande från viewbag i kontrollern!-->
<article>@ViewBag.Vacuum</article>
<br>
<article>@ViewBag.Pearl</article>
<br>
<article>@ViewBag.Coco</article>
<br>
<article>@ViewBag.Mazarin</article>
<br>
<article>@ViewBag.Rasberry</article>